@use './_theme-variables' as *; // Importa as variáveis de tema

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', 'Arial', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
