@use "sass:color";

$primary-blue: #28377d;
$light-gray: #f0f0f0;
$text-color: #333;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $light-gray;
  color: $text-color;
}

main {
  min-height: calc(100vh - 120px); // Garante que o main tenha altura suficiente
  padding-top: 60px; // Para evitar que o header fixo cubra o conteúdo
}